:root{
--black: #454545;
--green: #00B6C1;
--blue: #0036C1;
--lightgray: #BFBFC0;
--darkgray: #666666;
--white: #ffffff;
--greent:rgba(0, 182, 193, 0.5)

}
//Para essa paleta
//Utilizar var(--"cor")

$black: #454545;
$green: #00B6C1;
$blue: #0036C1;
$lightgray: #BFBFC0;
$darkgray: #666666;
$white: #ffffff;
$greent:rgba(0, 182, 193, 0.5)
//Para essa paleta
//Utilizar o nome (mas nao funciona?)

//No RDW ele usou a opcao de cima.