
.pills {
    &__container{
        align-items: center;
        background-color: green;
        border-radius: 2rem;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 1.7rem;
        font-weight: 400;
        height: 2.9rem;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        width: max-content;

        &--active {
            background-color:  grey;
        }
    }
}